{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> 3D NanoWebGIS - About</title>
</head>

<body>
{% block extra-scripts %}
    <script>
        $("li.active").removeClass("active");
        $("li#about").addClass("active");
    </script>
{% endblock %}

{% block intro-section-content %}
    </h2>
    <img src="{% static 'userinterface/img/logowv.png' %}" class="logo-about"/>
    <p id="txtAbout">
       WebValley is the FBK summer school for dissemination of interdisciplinary research: more than
250 students (17-18y old) attended the WebValley camps since its first edition in 2001. WebValley started as a regional initiative for high school students from Trentino Alto-Adige SudTirol, and
it is now an opportunity for national and international students to experiment scientific research.<br/>

<h3>THE AIM</h3>
The school aims to introduce students to interdisciplinary research by combining a scientific
challenge and new technologies, favoring the participation of female and male students in projects and innovation. The WebValley Lab will provide computing resources and devices (e.g. ,
Kinect, Android smartphones, WebTV) to test new ways of exploring data patterns. Students
joining the school work in a lively and interactive atmosphere together with a group of researchers from the Bruno Kessler Foundation and selected experts, also interacting through teleconference with other labs. The 2013 project will have the support of international experts in complex
networks, mathematics of biological systems, biomedicine and computational biology.<br/>

The WebValley formula: Create a team of enthusiast and motivated high school students (18 y) tutored by researchers.
The team accepts a challenge by a collaborating scientist from Ecology, Biology or Social Sciences and develops in three weeks a new web-based prototype for data analysis and management.
Students are introduced to Open Source software solutions (scientific programming, web interfaces, database, GIS and data analysis); they discuss, design and develop the new system interacting with scientists. They learn to select tools, organize their own workplan, and respond with a new solution to a problem of ethical interest. A working prototype web solution and technical results are presented at the end of the three week period.
The project activities are developed mostly in teamwork as in a true research environment, that is informal and of high quality in resources, competence and organization. Each student can differently contribute to project with ideas, software code or data preparation, design of new web interfaces, project presentation.
The location: the school is held in a high-tech lab located in a small Alpine village, to demonstrate that web access may support new types of innovative actions also in remote areas, combining new technologies and high-quality of life in a natural environment.(Lab is open all day, but group activities and leisure time are also part of the three weeks).<br/>


<h3>THE GOALS</h3>
        <ol>
  <li>Encourage smart students to be entrepreneurs in science</li>5,
  <li>Interdisciplinarity</li>
  <li>Transform internet into an innovation building environment</li>
  <li>Develop team work, collaboration, fast-prototyping attitudes</li>
  <li>Use sophisticated open source methods in an informal teaching environment</li>
  <li>Propose challenging themes of ethical interest</li>
  <li>Use high quality data from scientific or statistical institutions.</li>
  <li>Learn to use standard formats</li>
    </ol>
For the sponsoring organizations: learn from young people, how fast they are developing new
skills and which is the potential for a new generation of scientists.

<h3>The 2013 project</h3>: 3D nanoWebGIS interface and complex networks for molecular medicine data.
The aim of WebValley 2013 is designing a novel web tool for studying change in cells (e.g. in
morphogenesis or in disease) from different points of view and in interdisciplinary teams. We aim
to extend the nanoWebGIS system for shared studies on bioimages with an interface for 3D spatial structure investigation and a whole new module for complex networks analysis. The project
shall integrate mathematical and biological aspects, with the opportunity of working on original
data from collaborating international labs. Technology will be the backbone of the project: the
team will combine different open source software tools and propose new ways of interacting
with bioimages and networks on non-standard devices such as smart TV displays.  <br/>
    </p>

    {% block thumbnails %}{% endblock %}
{% endblock %}
</body>
</html>
