{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NanoWebGIS 3D - API documentation</title>
</head>

<body>
{% block intro-section-content %}
    <h1>API documentation</h1>
    {% block thumbnails %}{% endblock %}
{% endblock %}
</body>
</html>