{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rhadius - API documentation</title>
</head>

<body>


{% block extra-scripts %}
    <script>
        $("li.active").removeClass("active");
        $("li#api").addClass("active");
    </script>
{% endblock %}



{% block intro-section-content %}
    <h1>Rhadius API documentation</h1>
    <h3>Introduction:</h3>
    <p>
        We provide a RESTful API interface through which clients can configure an instance using simple HTTP calls.<br />
        REST is an acronym for “REpresentational State Transfer”.
    </p>
    <h3>5 keys in order to implement an efficient RESTFul API</h3>
    <ul>
        <li>Provide a <strong>valuable</strong> service</li>
        <li>Have a <strong>plan</strong></li>
        <li>Make it simple, <strong>flexible</strong> and easily adopted</li>
        <li><strong>Managed</strong> and <strong>measured</strong></li>
        <li>Great developer <strong>support</strong></li>
    </ul>
        <table class="table">
            <thead>
                <tr>
                    <td>Status code</td>
                    <td>Description</td>
                    <td>Notes</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>200</td>
                    <td>OK</td>
                    <td>The request was successful</td>
                </tr>
                <tr>
                    <td>403</td>
                    <td>Forbidden</td>
                    <td>Often denotes a permissions mismatch</td>
                </tr>
                <tr>
                    <td>404</td>
                    <td>Not Found</td>
                    <td>Endpoint or resource was not at the indicated location</td>
                </tr>
                <tr>
                    <td>405</td>
                    <td>Method Not Allowed</td>
                    <td>Often denotes an endpoint accessed with an incorrect operation (for example, a GET request where a PUT/POST is indicated)</td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>Internal Server Error</td>
                    <td>Often denotes a syntax error in the request</td>
                </tr>
            </tbody>
        </table>

        <h4 class="subtitle">Formats and representations:</h4>
        <p>The following table defines the Content-type values for each format:</p>
        <table class="table">
            <thead>
                <tr>
                    <td>Format</td>
                    <td>Content-type</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XML</td>
                    <td>application/xml</td>
                </tr>
                <tr>
                    <td><strong>JSON</strong></td>
                    <td><strong>application/json</strong></td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>application/html</td>
                </tr>
                <tr>
                    <td>SLD</td>
                    <td>application/vnd.ogc.sld+xml</td>
                </tr>
            </tbody>
        </table>

        <p>To communicate data we've used the JSON (JavaScript Object Notation) format.</p>

        <h3 class="subtitle">Processes:</h3>
        <p>We've provided a way to visualize and manage the processes invoked.</p>

        <h4>Process list</h4>
        <code>/process/list/</code><br />
        <code>From terminal: curl -X GET http://localhost:8000/process/list/</code>

        <table class="table">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Status code</td>
                    <td>Format</td>
                    <td>Parameters</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lists all the available processes</td>
                    <td>200</td>
                    <td>JSON</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>

        <p>
            Returned JSON (e.g.):
        </p>
        <code>
            [{<br />
	            &nbsp&nbsp&nbsp"code": "process_test",<br />
	            &nbsp&nbsp&nbsp"description": "This is a description",<br />
	            &nbsp&nbsp&nbsp"author": "Jack",<br />
	            &nbsp&nbsp&nbsp"type": "process_type",<br />
	            &nbsp&nbsp&nbsp"id": 1<br />
            },<br />
            {<br />
	            &nbsp&nbsp&nbsp"code": "process_test1",<br />
	            &nbsp&nbsp&nbsp"description": "Desc",<br />
	            &nbsp&nbsp&nbsp"author": "Bob",<br />
	            &nbsp&nbsp&nbsp"type": "process_type",<br />
	            &nbsp&nbsp&nbsp"id": 2<br />
            }]<br />
        </code>

        <h4 class="subtitle">Process run (a task)</h4>
        <code>/process/run/&ltprocess_code&gt/&ltprocess_id&gt/</code><br />
        <code>From terminal: curl -X GET http://localhost:8000//process/run/&ltprocess_code&gt/&ltprocess_id&gt</code>

        <table class="table">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Status code</td>
                    <td>Format</td>
                    <td>Parameters</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Runs the specified process with the specified inputs</td>
                    <td>200</td>
                    <td>JSON</td>
                    <td>Inputs required for the task</td>
                </tr>
            </tbody>
        </table>

        <p>
            Returned JSON (e.g.):
        </p>
        <code>
            {<br />
                &nbsp&nbsp&nbsp"polling_url": "/process/status/n_id",<br />
                &nbsp&nbsp&nbsp"success": &ltboolean_value&gt<br />
            }
        </code><br />

        <h4 class="subtitle">Process status</h4>
        <code>/process/status/&ltprocess_id&gt/</code><br />
        <code>From terminal: curl -X GET http://localhost:8000/process/status/&ltprocess_id&gt/</code>

        <table class="table">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Status code</td>
                    <td>Format</td>
                    <td>Parameters</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Displays the status of the specified process</td>
                    <td>200</td>
                    <td>JSON</td>
                    <td>The id of the process</td>
                </tr>
            </tbody>
        </table>

        <h4 class="subtitle">Process details</h4>
        <code>/process/detail/&ltprocess_id&gt/</code><br />
        <code>From terminal: curl -X GET http://localhost:8000/process/detail/&ltprocess_id&gt/</code>

        <table class="table">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Status code</td>
                    <td>Format</td>
                    <td>Parameters</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Displays the details of a given process</td>
                    <td>200</td>
                    <td>JSON</td>
                    <td>The id of the process</td>
                </tr>
            </tbody>
        </table>

        <h4 class="subtitle">Example:</h4>

        <code>
            curl -X POST http://localhost:8000/process/run/process/3d/&ltp_id&gt -d <br />
            '&ltconditions_inputs&gt&conditions_labels=NT,2hLPS500&mask_label=mask&molecule_label=molecule'
        </code>

        <!--<conditions_inputs> nucleus1=http://192.168.205.138:8080/NT/01_nucleus.tif||http://192.168.205.138:8080/NT/02_nucleus.tif||http://192.168.205.138:8080/NT/03_nucleus.tif||http://192.168.205.138:8080/NT/04_nucleus.tif&nucleus2=http://192.168.205.138:8080/2hLPS500/01_nucleus.tif||http://192.168.205.138:8080/2hLPS500/02_nucleus.tif||http://192.168.205.138:8080/2hLPS500/03_nucleus.tif||http://192.168.205.138:8080/2hLPS500/04_nucleus.tif&litaf1=http://192.168.205.138:8080/NT/01_LITAF.tif||http://192.168.205.138:8080/NT/02_LITAF.tif||http://192.168.205.138:8080/NT/03_LITAF.tif||http://192.168.205.138:8080/NT/04_LITAF.tif&litaf2=http://192.168.205.138:8080/2hLPS500/01_LITAF.tif||http://192.168.205.138:8080/2hLPS500/02_LITAF.tif||http://192.168.205.138:8080/2hLPS500/03_LITAF.tif||http://192.168.205.138:8080/2hLPS500/04_LITAF.tif-->

        <p>Return value:</p>
        <code>
            {<br />
                &nbsp&nbsp&nbsp"polling_url": "/process/status/n_id",<br />
                &nbsp&nbsp&nbsp"success": &ltboolean_value&gt<br />
            }
        </code><br />
    </p>
    {% block thumbnails %}{% endblock %}
{% endblock %}
</body>
</html>