{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NanoWebGIS 3D - Contacts</title>
</head>

<body>

{% block extra-scripts %}
    <script>
        $("li.active").removeClass("active");
        $("li#contacts").addClass("active");
    </script>
{% endblock %}



{% block intro-section-content %}
    <h2 id= title>
        Contacts
    </h2>
    <h4 id= nome>Fondazione Bruno Kessler</h4>
    <p id= txtContacts>
        Via Sommarive, 18<br/>
        Povo (Trento) Italy 38123<br/>
        mobile:<br/>
        +39 366 7554977<br/>
        mail:<br/>
        webvalley at fbk.eu<br/>
    </p>

    {% block thumbnails %}{% endblock %}
{% endblock %}
</body>
</html>