{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

{% block headtitle %}Rhadius - Download{% endblock %}

{% block extra-scripts %}
    <script>
        $("li.active").removeClass("active");
        $("li#download").addClass("active");
    </script>
{% endblock %}

{% block intro-section-content %}
<div class="hero-unit">
    <h1>TRY it!</h1>
    <p>Download the omero plugin, and try the demo process.</p>
    <p>
        <a class="btn btn-primary btn-large">
          Download
        </a>
    </p>
</div>
    {% block thumbnails %}{% endblock %}
{% endblock %}

