{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NanoWebGIS 3D - License</title>
</head>

<body>

{% block extra-scripts %}
    <script>
        $("li.active").removeClass("active");
        $("li#license").addClass("active");
    </script>
{% endblock %}

{% block intro-section-content %}
    <h1>License</h1>
    <p>
        The GNU Affero General Public License is a free, copyleft license
        for software and other kinds of works, specifically designed to ensure
        cooperation with the community in the case of network server software.
    </p>
    <p>
        The licenses for most software and other practical works are designed to take
        away your freedom to share and change the works. By contrast, our General Public
        Licenses are intended to guarantee your freedom to share and change all versions of
        a program--to make sure it remains free software for all its users.
    </p>
    <p>
        <a href="https://github.com/webvalley2013/nanothings/blob/master/license.txt" target="_blank">GNU Affero </a>
        <a href="https://it.wikipedia.org/wiki/GNU_Affero_General_Public_License" target="_blank">(More information)</a>
    </p>
    {% block thumbnails %}{% endblock %}
{% endblock %}
</body>
</html>