{# ######################################################################### #}
{#    This file is part of nanothings.                                       #}
{#                                                                           #}
{#    nanothings is free software: you can redistribute it and/or modify     #}
{#    it under the terms of the GNU Affero GPL as published by               #}
{#    the Free Software Foundation, either version 3 of the License, or      #}
{#    (at your option) any later version.                                    #}
{#                                                                           #}
{#    nanothings is distributed in the hope that it will be useful,          #}
{#    but WITHOUT ANY WARRANTY; without even the implied warranty of         #}
{#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #}
{#    GNU Affero GPL for more details.                                       #}
{#                                                                           #}
{#    You should have received a copy of the GNU Affero GPL                  #}
{#    along with nanothings.  If not, see <http://www.gnu.org/licenses/>.    #}
{# ######################################################################### #}

{% extends "index.html" %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NanoWebGIS 3D - Process List</title>
</head>

<body>
{% block intro-section-content %}
    <h1 id="title">List of processes</h1>
    {% if pList %}
        <ul class="nav nav-tabs nav-stacked">
            {% for i in pList %}
                <li><a href="{% if i and i.status %}/ui/process/{{ i.id }} {% else %} /ui/celery_error/ {% endif %}">{{ i.process_type }} {{ i.id }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No processes are available.</p>
    {% endif %}

    {% block thumbnails %}{% endblock %}
{% endblock %}
</body>
</html>