{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <title>List of processes</title>

    <link rel="stylesheet" type="text/css" href="{% static 'userinterface/css/style.css' %}" />
</head>
<body>
    <div id="page">
        <h1 id="title">List of processes</h1>
			{% if pList %}
			<ul>
				{% for i in pList %}
					<li><a href="/show/process/{{ i.id }}/">{{i.process_type}}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<p>No processes are available.</p>
			{% endif %}
    </div>
</body>
</html>
