body
{
	background-color: #fcfcfc;
    padding-bottom: 50px;
}

#title
{
	margin-bottom: 50px;
	margin-top: 50px;
}
.container-fluid{
}
.form-horiziontal
{
	margin-top: 100px;
	padding:10px;
}
.span3
{
	margin-top: 100px;
	padding:10px;
}

.row-fluid
{
    background-color: #fbb450;
    border-radius: 20px;
}

.hero-unit
{
    background-color: #fbb450;
}

.signin-menu{
    padding: 10px;
}


