/*    This file is part of nanothings.
#
#     nanothings is free software: you can redistribute it and/or modify
#     it under the terms of the GNU Affero GPL as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     nanothings is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU Affero GPL for more details.
#
#     You should have received a copy of the GNU Affero GPL
#     along with nanothings.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-color: #fff;
    padding-bottom: 50px;
}

#title {
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-horiziontal {
    margin-top: 100px;
    padding: 10px;
}

.main-section {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;

    background-color: #999999;
    box-shadow: 0.3px 3px 3px #777;
    border-radius: 10px;
}

.signin-menu {
    padding: 50px;
}

.caption {
    text-align: center;
}

.content {
    padding: 50px;
}

.carousel slide {
    padding: 50px;
}

.carousel-inner {
    border-radius: 20px;
}

.carousel-caption h1{
    color: white;
}

.logo-about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 12px;
}

.prop li {
    margin-bottom: 15px;
}

.thumbnail {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption h1{
    color: white;
}

.caption h3 , .caption p , #txtAbout, #title, #nome, #txtContacts , #titleR , #txtR, #titleNet,  #txtNet , #titleImg , #txtImg  {
    color: white;
}
