body
{
	background-color: #fff;
    padding-bottom: 50px;
}

#title
{
	margin-bottom: 50px;
	margin-top: 50px;
}

.form-horiziontal
{
	margin-top: 100px;
	padding:10px;
}
.span3
{
	margin-top: 100px;
	padding:10px;
}

.main-section
{
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;

    background-color: rgb(238, 238, 238);
    box-shadow: 1px 1px 3px #777;
    border-radius: 10px;
}

.signin-menu{
    padding: 50px;
}

.caption{
   text-align: center;
}

.content {
    padding: 50px;
}

.logo-about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 12px;
}

